* {
    box-sizing: border-box;
}

div {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #dddddd
}

p {
    font-size: 18px;
    font-weight: 600;
}

.button1 {
    width: 190px;
    display: inline-block;
    background-color: #123ecf;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition: color 0.4s ease-in-out 1s;
}

.button1:hover {
    width: 260px;
}

.button2 {
    width: 190px;
    display: inline-block;
    background-color: #123ecf;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.button2:hover {
    width: 260px;
    background-color: #002398;
}

.button3 {
    width: 190px;
    display: inline-block;
    background-color: #123ecf;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    transition: width 0.5s ease-in-out 0.5s,
        background-color 0.5s ease-in-out;
}

.button3:hover {
    width: 260px;
    background-color: #002398;
}